@page "{username}"
@model SSDAssignment40.Pages.ProfileModel
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@inject UserManager<Lodger> _userManager

@{
    Lodger LodgerUser = await _userManager.FindByNameAsync(Model.Username);
}

<div style="overflow: auto; margin-top: 20px; margin-bottom: 20px;">
    <h2 style="float: left; margin-top: 0;">Profile</h2>@if (@Model.Username == _userManager.GetUserName(User))
    {<a class="clickbuttonnoshadow" asp-page="./Edit" style="float: right;">Edit Profile</a>}
</div>
<div style="text-align: center;">
    @if (Model.isValidProfile)
    {
        <div style="width: 25%; border: 1px solid black; display: inline-block; float: left; overflow: auto;">

            <div style="margin-top: 15px;">
                @if (!(string.IsNullOrEmpty(LodgerUser.ProfilePic)))
                {
                    <img src="~/profile-images/@Model.LodgerUser.ProfilePic" style="height: 250px; width: 250px;"/>
                }
                else
                {
                    <img src="~/images/cto-picture.jpg" />
                    @*<img src="~/profile-images/default-picture.png" width="250" height="250" />*@
                }
            </div>
            <div style="border: 1px solid black; margin-top: 10px; background-color: #f4f4f4;">
                <p style="font-size: large; margin-bottom: 0; padding: 10px;">Verification Status</p>
            </div>
            <div style="border: 1px solid black; overflow: hidden;">
                <div style="padding: 10px; ">
                    <div style="margin: 15px 10px 15px 10px; overflow: auto; overflow-x: hidden;">
                        <p style="font-size: medium; float: left; margin: 0; margin-top: 4px">Government ID</p>
                        @if (string.IsNullOrEmpty(LodgerUser.ProfilePic))
                        {
                            <img style="float: right;" src="~/images/unverified.png" />
                        }
                        else
                        {
                            <img style="float: right;" src="~/images/verified.png" />
                        }
                    </div>
                    <div style="margin: 15px 10px 15px 10px; overflow: auto;">
                        <p style="font-size: medium; clear: both; float: left; margin: 0; margin-top: 4px">Profile Picture</p>
                        <img style="float: right;" src="~/images/unverified.png" />
                    </div>
                    <div style="margin: 15px 10px 15px 10px; overflow: auto;">
                        <p style="font-size: medium; clear: both; float: left; margin: 0; margin-top: 4px">Email Address</p>
                        <img style="float: right;" src="~/images/verified.png" />
                    </div>
                    <div style="margin: 15px 10px 15px 10px; overflow: auto;">
                        <p style="font-size: medium; clear: both; float: left; margin: 0; margin-top: 4px">Mobile Number</p>
                        <img style="float: right;" src="~/images/verified.png" />
                    </div>
                </div>
            </div>
        </div>

        <div style="width: 70%; display: inline-block; float: right; overflow: hidden; text-align: initial; padding-left:10px;">
            <h1>@Model.LodgerUser.FullName • Joined in @Model.LodgerUser.DateJoined.ToString("MMMM  yyyy")</h1>
            <p style="font-size: medium;">@Model.LodgerUser.City, @Model.LodgerUser.Country</p>
            <a class="clickbuttonnoshadow" href="#">Report this user</a>
            <br />
            <br />
            <br />
            <p style="font-size: medium">@Model.LodgerUser.Biography</p>
            <br />
            <br />
            <div id="stats" style="font-size: large;">
                <div style="display: inline-block;">
                    <span class="btn btn-info" style="font-size: large;">10 </span>
                    <a style="margin-left: 10px; text-decoration: none; margin-right: 25px;" href="#reviews">Reviews</a>
                </div>
                <div style="display: inline-block;">
                    <img src="~/images/thumb-up.png" />
                    <span style="margin-left: 10px; margin-right: 25px;">@Model.LodgerUser.ThumbsUp</span>
                </div>
                <div style="display: inline-block;">
                    <img src="~/images/thumb-down.png" />
                    <span style="margin-left: 10px;">@Model.LodgerUser.ThumbsDown</span>
                </div>
            </div>
            <div id="listings">
                <h2>Listings</h2>
                // add user's listings
            </div>
            <div id="reviews">
                <h2>Reviews</h2>
                // add user's reviews
            </div>
            <br />
            <br />
            @{
                var user = await _userManager.GetUserAsync(User);
            }
            @if (Model.Username != await _userManager.GetUserNameAsync(user))
            {
                <div id="adding-review">
                    <h3>Add a Review for this user</h3>
                    <form method="post" asp-page-handler="AddReview">
                        <input asp-for="Review" class="form-control" placeholder="Please be honest when submitting reviews" />
                        <br />
                        <button class="clickbutton" type="submit">Submit Review</button>
                    </form>
                </div>

            }
        </div>
    }
    else
    {
        <h1 style="text-align:center"> Profile not found!</h1>
        <img src="~/images/Bunny-Laugh.gif" />
    }
    <br />
</div>
<div style="clear: both;"></div>


