@page
@model SSDAssignment40.Pages.Support.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<table class="table">
<thead>
    <tr>
        <th>
            <u>Question: @Html.DisplayFor(modelItem => modelItem.CustomerSupport.Request)</u>
        </th>
    </tr>
</thead>
<tbody>
    @if (Model.Replies.Count>0) {
        @foreach (var r in Model.Replies)
    {
        <tr>
            <td>
                @r.Replies
            </td>
            <td>
                Posted by User: <u>@r.Username</u>
                Time Posted: <u>@r.DateTimeStamp</u>
            </td>
        </tr>
        }
    }
</tbody>
    </table>

<form method="post">
    <input asp-for="@Model.StringContent" required style="height:40px;width:400px" placeholder="Type your answers here" /><br /><br />
    <input type="submit" value="Post" />
</form><br /><br />

<div>
    <a asp-page="./Index">Back to List</a>
</div>
