@page
@model PrivateKeyAuthenticationModel
@{
}

@if (string.IsNullOrWhiteSpace(@Model.LodgerUser.secretFileVerificationHash))
{
    <h2>Add a new file to setup PrivateFileAuthentication?</h2>
}
else
{
    <h2>Change your current file for PrivateFileAuthentication?</h2>

}

@if (ModelState.ContainsKey("PrivateKeyFileReportLink"))
{
    <script defer>
        @{
            ModelState.TryGetValue("PrivateKeyFileReportLink", out var value);
        }
        window.open("@value.Errors.ToList()[0].ErrorMessage", '_blank');
    </script>
    @ModelState.Remove("PrivateKeyFileReportLink");
}

@{
    if(Model.AlertMessage != null)
    {
    <p style="font-size: large; color: darkblue;">@Model.AlertMessage</p>
    }

}

<div asp-validation-summary="All"></div>

<h4>
    <span style="color: red">
        Note!: This is an alternative, faster (and maybe more secure) method of logging in!<br />
        But, please ensure that you keep your <strong>computer</strong>, and this <strong>file</strong> safe!
    </span>
</h4>

<br />

@if (string.IsNullOrWhiteSpace(@Model.LodgerUser.secretFileVerificationHash))
{
    <form method="post" enctype="multipart/form-data">
        <input asp-for="@Model.PrivateKeyFile" type="file" />
        <br />
        <br />
        <button class="clickbutton">Submit File</button>
    </form>
}
