@page
@model SSDAssignment40.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Review</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Review.DateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Review.DateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Review.ReviewTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Review.ReviewTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Review.Rating)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Review.Rating)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Review.ReviewDesc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Review.ReviewDesc)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Review.ReviewId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
