@page
@model SSDAssignment40.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Review</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Review.DateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Review.DateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Review.ReviewTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Review.ReviewTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Review.Rating)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Review.Rating)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Review.ReviewDesc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Review.ReviewDesc)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Review.ReviewId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
