@page
@model SSDAssignment40.Pages.Audits.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AuditRecord</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AuditRecord.AuditActionType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AuditRecord.AuditActionType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AuditRecord.DateTimeStamp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AuditRecord.DateTimeStamp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AuditRecord.IPAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AuditRecord.IPAddress)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="AuditRecord.AuditRecordId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
