@page
@model SSDAssignment40.Pages.Audits.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>AuditRecord</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AuditRecord.AuditActionType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AuditRecord.AuditActionType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AuditRecord.DateTimeStamp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AuditRecord.DateTimeStamp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AuditRecord.IPAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AuditRecord.IPAddress)
        </dd><dt>
            @Html.DisplayNameFor(model => model.AuditRecord.PerformedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AuditRecord.PerformedBy.UserName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.AuditRecord.AuditRecordId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
