@page
@model SSDAssignment40.Pages.DeleteListingModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this listing?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Listing.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Listing.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Listing.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Listing.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Listing.Desc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Listing.Desc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Listing.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Listing.Location)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Listing.CoverPic)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Listing.CoverPic)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Listing.ListingId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./ListingsCreated">
            <div class="editbutton">
                <<< Back to Listings
            </div>
        </a>
    </form>
</div>
