@page "{location?}"
@model SSDAssignment40.Pages.ListingsModel

@{
    ViewData["Title"] = "Listings";
    int listingcount = Model.Listing.Count;
}


<h2 id="myheader"></h2>

<link rel="stylesheet" href="~/css/listingstyles.css" />
<script src="~/js/listings.js"></script>
<br />


<style>
    .navbar {
        margin-bottom: 0;
    }
</style>
<body onload="getURL()">
    <table style="border-collapse:unset;padding-top:0;position:relative;">

        @for (int i = 0; i < listingcount;)
        {
            <tr>
                @if (listingcount - i < 4)
                {
                    for (int x = 0; x < listingcount - i; x++)
                    {
                        <td>
                            <a asp-page="./ListingDetails" asp-route-id="@Model.Listing[x+i].ListingId" style="text-decoration:none;color:black">
                                <div class="polaroid">
                                    <div class="listingimgcontainer">
                                        <img class="listingimg" src="~/ListingCover/@Model.Listing[x + i].CoverPic " />
                                    </div>
                                    <div class="listingtitle">
                                        @if (Model.Listing[x + i].Title.Length > 50)
                                        {
                                            <b>@Model.Listing[x + i].Title.Substring(0, 70)...</b>
                                        }
                                        else
                                        {
                                            <b>@Model.Listing[x + i].Title</b>
                                        }
                                    </div>
                                    <div class="listingprice">
                                        S$@Html.DisplayFor(modelItem => Model.Listing[x + i].Price) per night
                                    </div>
                                    <div class="listingrating">
                                        @{
                                            try
                                            {
                                                var relevantReviews = Model.Review.Where(r => r.Listing.ListingId == Model.Listing[x + i].ListingId);
                                                var avgRating = relevantReviews.Sum(r => r.Rating) / relevantReviews.Count();
                                                <div class="reviewNumber">(@relevantReviews.Count())</div>
                                                for (int g = 0; g < avgRating; g++)
                                                {
                                                    <img src="~/images/filledstar.ico" />
                                                }
                                                for (int g = 0; g < 5 - avgRating; g++)
                                                {
                                                    <img src="~/images/emptystar.ico" />
                                                }
                                            }
                                            catch (DivideByZeroException)
                                            {
                                                <div>No Reviews</div>
                                            }
                                        }
                                    </div>
                                </div>
                            </a>
                        </td>
                    }
                    break;
                }
                @if (listingcount - i >= 4)
                {
                    for (int x = 0; x < 4; x++)
                    {
                        <td>
                            <a asp-page="./ListingDetails" asp-route-id="@Model.Listing[x+i].ListingId" style="text-decoration:none;color:black">
                                <div class="polaroid">
                                    <img class="listingimg" src="~/ListingCover/@Model.Listing[x + i].CoverPic " />
                                    <div class="listingtitle">
                                        <b>@Html.DisplayFor(modelItem => Model.Listing[x + i].Title)</b>
                                    </div>
                                    <div class="listingprice">
                                        S$@Html.DisplayFor(modelItem => Model.Listing[x + i].Price) per night
                                    </div>
                                    <div class="listingrating">
                                        @{
                                            try
                                            {
                                                var relevantReviews = Model.Review.Where(r => r.Listing.ListingId == Model.Listing[x + i].ListingId);
                                                var avgRating = relevantReviews.Sum(r => r.Rating) / relevantReviews.Count();
                                                <div class="reviewNumber">(@relevantReviews.Count())</div>
                                                for (int g = 0; g < avgRating; g++)
                                                {
                                                    <img src="~/images/filledstar.ico" />
                                                }
                                                for (int g = 0; g < 5 - avgRating; g++)
                                                {
                                                    <img src="~/images/emptystar.ico" />
                                                }
                                            }
                                            catch (DivideByZeroException)
                                            {
                                                <div>No Reviews</div>
                                            }
                                        }
                                    </div>
                                </div>
                            </a>
                        </td>
                    }
                    i += 4;
                }
            </tr>
        }

    </table>
</body>

